################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/Web_Okta_SSO/Web_Okta_SSO.csproj
